<launch>
  <arg name="image_topic" default="/camera/color/image_raw" />
  <arg name="find_service" default="/ros_find_node/start" />

  <node pkg="ros_locate_node" type="module1_master.py" name="module1_master" output="screen">
    <param name="image_topic"             value="$(arg image_topic)" />
    <param name="wakeup_topic"            value="/micarrays/wakeup" />
    <param name="walking_status_topic"    value="/MediumSize/BodyHub/WalkingStatus" />
    <param name="gait_command_topic"      value="/gaitCommand" />
    <param name="request_gait_topic"      value="/requestGaitCommand" />
    <param name="tts_topic"               value="/aiui/text_to_speak" />
    <param name="capture_path"            value="/tmp/target_captured.jpg" />

    <param name="control_id"              value="30" />
    <param name="find_service"            value="$(arg find_service)" />
    <param name="find_service_wait_timeout" value="10.0" />
    <param name="arrival_text"            value="我已经到位了" />
    <param name="post_arrival_silence"    value="3.0" />
    <param name="sound_offset"            value="50.0" />
    <param name="gait_handshake_timeout"  value="20.0" />
    <param name="wait_stop_timeout"       value="10.0" />

    <param name="search_max_steps"         value="36" />
    <param name="mid_turn_min_area_ratio" value="0.01" />
    <param name="arrival_area_ratio"      value="0.35" />
    <param name="min_area_ratio"          value="0.002" />
    <param name="center_deadband_px"      value="35.0" />
    <param name="theta_gain"              value="18.0" />
    <param name="forward_gain"            value="0.25" />
    <param name="min_forward_step"        value="0.02" />

    <rosparam param="hsv_lower1">[0, 80, 50]</rosparam>
    <rosparam param="hsv_upper1">[12, 255, 255]</rosparam>
    <rosparam param="hsv_lower2">[170, 80, 50]</rosparam>
    <rosparam param="hsv_upper2">[180, 255, 255]</rosparam>
  </node>
</launch>
