<launch>
  <arg name="image_topic" default="/camera/color/image_raw" />
  <arg name="output_dir" default="$(find ros_find_node)/snapshots" />
  <arg name="wait_for_start_service" default="true" />

  <node pkg="ros_find_node"
        type="red_ball_centering_node.py"
        name="ros_find_node"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="snapshot_url" value="http://localhost:8080/snapshot?topic=$(arg image_topic)" />
    <param name="output_dir" value="$(arg output_dir)" />
    <param name="capture_on_centered" value="true" />
    <param name="exit_after_capture" value="false" />

    <param name="wait_for_start_service" value="$(arg wait_for_start_service)" />
    <param name="start_service" value="/ros_find_node/start" />

    <param name="center_x" value="320.0" />
    <param name="center_y" value="240.0" />
    <param name="tolerance_x" value="20.0" />
    <param name="tolerance_y" value="20.0" />
    <param name="stable_frames" value="8" />

    <param name="enable_search" value="true" />
    <param name="search_start_frames" value="3" />
    <param name="search_step_frames" value="3" />
    <param name="search_pan_min" value="-60.0" />
    <param name="search_pan_max" value="60.0" />
    <param name="search_pan_step" value="8.0" />
    <rosparam param="search_tilt_levels">[-10.0, 0.0, 10.0]</rosparam>
    <param name="enable_body_search" value="true" />
    <param name="body_search_step_degrees" value="10.0" />
    <param name="body_search_total_degrees" value="360.0" />
    <rosparam param="body_search_head_pans">[-45.0, 0.0, 45.0]</rosparam>
    <param name="walking_status_topic" value="/MediumSize/BodyHub/WalkingStatus" />
    <param name="gait_command_topic" value="/gaitCommand" />
    <param name="request_gait_topic" value="/requestGaitCommand" />
    <param name="gait_handshake_timeout" value="3.0" />

    <param name="enable_tts" value="true" />
    <param name="tts_service" value="/aiui/text_to_speak_multiple_options" />
    <param name="call_describe_service" value="true" />
    <param name="describe_image_service" value="/langchain/describe_image" />
    <param name="describe_service_timeout" value="5.0" />
    <param name="describe_image_speak" value="true" />
    <param name="screenshot_done_text" value="截图完毕" />

    <param name="pan_gain" value="0.01" />
    <param name="tilt_gain" value="0.01" />
    <param name="pan_min" value="-90.0" />
    <param name="pan_max" value="90.0" />
    <param name="tilt_min" value="-25.0" />
    <param name="tilt_max" value="25.0" />
    <param name="control_id" value="30" />
  </node>
</launch>
